@charset "utf-8";
/* CSS Document */
<style>
	@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
		*{
			margin: 0; padding: 0; /*안쪽여백 바깥여백 초기화*/
			box-sizing: border-box; /*너비에 패딩, 테두리 포함*/
		}
		body{
			 font-family: 'Pretendard-Regular';
		}
		ul{
			list-style-type: none; /*목록모양 없음*/
		}
		img{
			display: block; /*이미지공백 없애기*/
		}
		.wrap{
			width: 1200px;
			margin: 0 auto; /*가운데 정렬*/
		}
		/*헤더영역*/
		.header{
			height: 100px;
			display: flex; /*가로로 배치*/
			justify-content: space-between;/*양끝 배치*/
			border-bottom: 2px solid #FFFFFF;
		}
		.logo {
			margin-top: 35px;
		}
		.menu ul{
			margin-top: 35px;
			display: flex;
			
		}
		.menu li{
			height: 35px;
		}
		.menu a{
			display: block;
			color: #000000;
			font-size: 15px;
			text-decoration: none;
			line-height: 30px;
			padding: 0 20px;
			transition: 0.3s;
		}
		.menu a:hover{
			color: #767676;/*마우스이벤트*/
		}
/*푸터영역*/
.footer{
			display: flex;
			justify-content: center;
			margin: 80px 0;
		}